<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="sel-month" class="col-md-5 control-label">Select month:</label>
                    <div class="col-md-7">
                        <select class="form-control" id="sel-month"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="sel-year" class="col-md-5 control-label">Select year:</label>
                    <div class="col-md-7">
                        <select class="form-control" id="sel-year"></select>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-4">
                    <label id="list-name" style="text-align: center; display: block; padding-top: 7px;"></label>
        </div>
    </div>


    <hr class="col-md-12" />

     

        <table id="ranking-list" class="display" width="100%">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Total Points</th>
                    <th>Previous Points</th>
                    <th>Move position</th>
                </tr>
            </thead>
        </table>
    
</body>
</html>
