<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <form class="form-horizontal">
                <div class="form-group list-form">
                    <label for="sel-month" class="col-md-5 control-label">Select month:</label>
                    <div class="col-md-7">
                        <select class="form-control" id="sel-month"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <form class="form-horizontal">
                <div class="form-group list-form">
                    <label for="sel-year" class="col-md-5 control-label">Select year:</label>
                    <div class="col-md-7">
                        <select class="form-control" id="sel-year"></select>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-3">
            <label id="list-name" style="text-align: center; display: block; padding-top: 7px;"></label>
        </div>
        <div class="col-md-3 list-buttons" style="text-align:right">
                <button class="btn btn-default" id="btn-list-previous">Previous</button>
                <button class="btn btn-default" id="btn-list-next">Next</button>
                <button class="btn btn-default" id="btn-list-last">Last</button>
        </div>
    </div>

    <hr class="col-md-12" />

    <table id="ranking-list" class="display" width="100%">
        <thead>
            <tr>
                <th>Rank</th>
                <th width="30%">Team</th>
                <th>Total Points</th>
                <th>Previous Points</th>
                <th width="15%">Move position</th>
            </tr>
        </thead>
    </table>
</body>
</html>