<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <p class="h3">Schedule of FIFA men's ranking in 2017:</p>
    <ul class="list-group">
        <li class="list-group-item">12 January</li>
        <li class="list-group-item">9 February</li>
        <li class="list-group-item">9 March</li>
        <li class="list-group-item">6 April</li>
        <li class="list-group-item">4 May</li>
        <li class="list-group-item">1 June</li>
        <li class="list-group-item">6 July</li>
        <li class="list-group-item">10 August</li>
        <li class="list-group-item">14 September</li>
        <li class="list-group-item">19 October</li>
        <li class="list-group-item">23 November</li>
        <li class="list-group-item">21 December</li>
    </ul>
</body>
</html>
