/*header {
	margin-bottom:30px;
}*/
#main-content-wrapper {
    height: 85%;
    min-height: 85%;
    min-width: 80%;
}
@media only screen and (max-device-width: 700px) {
    #main-content-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
}
button:focus {
  outline: none !important;
  background-color:#ffffff!important; 
}
/*#region CHART*/
@media only screen and (max-device-width: 700px) {
    #main-content {
        margin-left: 0px;
        margin-right: 0px;
    }
}
/*svg style*/
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .dot {
      fill: white;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

/*chart navigation style*/
    #chart-navigation{
        text-align:center;
        margin-bottom: 20px;
    }
    #form-chart{
        width: 45%;
        display: inline-block;
        margin:auto auto auto 0;
    }

    #sel-chart{
        width: 90%;
    }

    #btn-clearChart{

    }

    .block { text-align:left;}
    .center { margin:auto;}
    .left { margin:auto auto auto 0;}
    .right { margin:auto 0 auto auto;}

/*#endregion*/

/*#region CALCULATION METHOD*/
.equation {
    text-align: center;
    margin-top: 20px;
}

h4{
    margin-top: 30px;
}

p{
    text-align: justify;
}
/*#endregion*/

/*#region LIST*/
.flag{
    height: 20px;
    width: 36px;
    margin-right: 4px;
}

.arrow {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.team-in-list{
    display: inline;
    cursor: pointer;
}

.team-in-list:hover{
    text-decoration:underline;
    color: rgb(168, 162, 162);
}

@media only screen and (max-device-width: 700px) {
    .list-form{
        display: table!important; 
        margin: 0 auto!important; 
        width: 75%!important;
    }

    .list-buttons{
        text-align: center!important;
    }
}

/*#endregion*/