/*header {
	margin-bottom:30px;
}*/
#main-content-wrapper {
    height: 85%;
    min-height: 85%;
    min-width: 80%;
}
/*#region CHART*/

/*svg style*/
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .dot {
      fill: white;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

/*chart navigation style*/
    #chart-navigation{
        text-align:center;
        margin-bottom: 20px;
    }
    #form-chart{
        width: 45%;
        display: inline-block;
        margin:auto auto auto 0;
    }

    #sel-chart{
        width: 90%;
    }

    #btn-clearChart{

    }

    .block { text-align:left;}
    .center { margin:auto;}
    .left { margin:auto auto auto 0;}
    .right { margin:auto 0 auto auto;}

/*#endregion*/